.navContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.newRecipeButton{
    color:  #e8e8e8;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: hwb(35 18% 6%);
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px hwb(35 18% 6%),
        -6px -6px 12px #e6bc82;
}

.aboutButton{
    color:  #e8e8e8;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: hwb(35 18% 6%);
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px hwb(35 18% 6%),
        -6px -6px 12px #e6bc82;
}