.detailBackground {
  background-image: url("../../assets/backgroundImg/landingpage_background.jpeg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailContainer {
  max-width: 1200px;
  width: 90%;
  backdrop-filter: blur(2.2px);
  -webkit-backdrop-filter: blur(2.2px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.24);
}

.buttonBack {
  background-color: #e6bc82;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.infoContainer {
  display: flex;
  flex-wrap: wrap;
}

.infoText {
  flex: 1;
  padding-right: 20px;
}

.recipe_Title {
  font-size: 32px;
  margin-bottom: 20px;
}

.recipe_Summary {
  margin-bottom: 20px;
}

.imgContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.diets_Info {
  flex: 1;
  padding-left: 20px;
}

.diets {
  font-size: 20px;
  margin-bottom: 10px;
}

.dietsList {
  list-style: none;
  padding: 0;
}

.dietsList li {
  margin-bottom: 5px;
}

.stepsContainer {
  flex: 1;
  margin-top: 20px;
}

.steps {
  font-size: 20px;
  margin-bottom: 10px;
}

.steps ol {
  padding-left: 20px;
}

.steps ol li {
  margin-bottom: 5px;
}