.formBackground {
  background-image: url("../../assets/backgroundImg/landingpage_background.jpeg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.formContainer {
  display: flex;
  gap: 15px;
  backdrop-filter: blur(2.2px);
  -webkit-backdrop-filter: blur(2.2px);
  /* height: 99vh; */
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  font-family: "Public Sans", sans-serif;
  gap: 15px;
  background: rgba(255, 255, 255, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.24);
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.backButton {
  color: #e8e8e8;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: hwb(35 18% 6%);
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px hwb(35 18% 6%), -6px -6px 12px #e6bc82;
}
.submitButton {
  color: #e8e8e8;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: hwb(35 18% 6%);
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px hwb(35 18% 6%), -6px -6px 12px #e6bc82;
}
.submitButton:disabled {
  background-color: #8c96a0;
  border: 1px solid #999999;
}

.stepButton {
  color: #e8e8e8;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: hwb(35 18% 6%);
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px hwb(35 18% 6%), -6px -6px 12px #e6bc82;
  margin-top: 10px;
  margin-right: 10px;
}

.error {
  color: red;
  margin-left: 5px;
}

/* Estilos para los botones alineados abajo */
.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

/* Estilos para los errores en el campo "Summary" */
.inputsText textarea.error {
  border: 1px solid red;
}

/* Estilos para los errores en el campo "Health Score" */
.inputsText input[type="number"].error {
  border: 1px solid red;
}

/* Estilos para los errores en el campo "Diets" */
.checksContainer .error {
  color: red;
}

/* Estilos para la sección "Steps" */
.steps {
  margin-top: 20px;
}

/* Estilos para el campo de entrada de pasos */
.stepbystep textarea {
  width: 100%;
  resize: vertical;
  min-height: 100px;
}

/* Estilos para los botones "Add step" y "Delete last" */
.stepbystep input[type="submit"] {
  margin-top: 10px;
}

/* Estilos para la lista de pasos */
.renderSteps {
  margin-top: 10px;
}

/* Estilos para el contenedor de los botones alineados abajo */
.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
